body{	
    font: 15px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0% 10%;
    background-color: #f4f4f4; 
}

/* Estilos globales */
.contenedor{
	 width: 80%;
	 margin: auto;
	 overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.boton1{
	height: 38px;
	background: #ff0000;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff  
}

/* Encabezado */
header{
	background-color: #24282b;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid ##e82e2a;
}

header a{
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #marca{
	float: left;
}

header #marca h1{
	margin: 0;
}
header nav{
	float: right;
    margin-top: 10px;
}
header .resatado, header .actual a{

/* section */

li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
	
